In [1]:
import pandas as pd

In [2]:
df_books = pd.read_csv('/home/maximo/Platzi_trabajo/Pandas/bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv',sep=',',header=0)
df_books.head(2)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction

In [3]:
def two_times(value):
    return value * 2

In [4]:
df_books['User Rating'].apply(two_times)

0      9.4
1      9.2
2      9.4
3      9.4
4      9.6
      ...
545    9.8
546    9.4
547    9.4
548    9.4
549    9.4
Name: User Rating, Length: 550, dtype: float64

In [5]:
df_books['User Rating2'] =df_books['User Rating'].apply(two_times)

In [6]:
df_books['User Rating2'] =df_books['User Rating'].apply(lambda x: x* 3)

In [7]:
df_books.apply(lambda x: x['User Rating'] * 2 if x['Genre'] == 'Fiction' else x['User Rating'], axis = 1)

0      4.7
1      9.2
2      4.7
3      9.4
4      4.8
      ...
545    9.8
546    4.7
547    4.7
548    4.7
549    4.7
Length: 550, dtype: float64